/*----------------- Nav Bar ---------*/
				body{
			      font: helvetica;
			      font-size: 20;
			      margin: 0;
				  padding: 0;
				/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
				  background: #333;
				  background-attachment: fixed;
				  background-size: cover;
				    }
            #mainid{
              padding:0px; 
              margin:0;
              width:100%;
              height: 1800px; 
            }
          
                    @media screen and (max-width: 100%) {
                      .topnav a:not(:first-child) {display: none;}
                      .topnav a.icon {
                        float: right;
                        display: block;
                      }
                    }

                    @media screen and (max-width: 100%) {
                      .topnav.responsive {position: relative;}
                      .topnav.responsive .icon {
                        position: absolute;
                        right: 0;
                        top: 0;
                      }
                      .topnav.responsive a {
                        float: none;
                        display: block;
                        text-align: left;
                      }

                    }
                    /*------------------ End Nav Bar -----*/
        		.item{
        		    position: relative;
        		    height:100%;
        		}
                #logo{
                    text-align: center; 
                    width: 100%;
                }

                #logoimg{   
                    width: 100%;   
              }

                #cont{height: 90%;
                    float: left;
                    text-align: center;
                    align-content: center;
                }
                #main{float: left;
                    height: 90%;
                     padding:0;
                }

       /*   div{
                    border: 1px;
                    border-style: solid;
                } */
                #top{
                    height: 200px;
                     font-size: 32px;
                        font-style: italic;
                        font-family: helvetica;
                        float: center;
                } 
                ul{
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        width: 100%;
                       /* background-color: rgb(71, 60, 114);*/
                        background: linear-gradient(to right, white , rgb(71, 60, 114)); /* Standard syntax */
                    }

                li a{
                   display: block;
                    color: #000;
                    padding: 8px 9px;
                    text-decoration: none;
                }

                /* Change the link color on hover */
                li a:hover {
                    background-color: blue;
                    color: white;
                }


                #myimg{  
                    width: 150px;
                    height: 1px;
                    margin-top: 30px;
                    margin-left: -170px;
                    display: block;
                    position: all;
                    border-radius: 15px;
                    background-position: left top;
                    background-repeat: repeat;
                    padding: 0px; 
                    width: 160px;
                    height: 220px; 
                }

               #myimgl{  
                    width: 99px;
                    height: 1px;
                    margin-top: 8px;
                    display: block;
                    border-radius: 5px;
                    background-position: left top;
                    background-repeat: repeat;
                    position: relative;
                    padding: 0px; 
                    width: 100px;
                    height: 130px; 

                }

                .rimg{  
                    width: 99px;
                    height: 1px;
                    margin-top: 8px;
                    margin-left: -75px;
                    display: block;
                    position: relative;
                
                    left: 53%; 
                    z-index: -1;
                    -webkit-box-shadow: 0px 0px 18px 2px #ced8e5;
                       -moz-box-shadow: 0px 0px 18px 2px #ced8e5;
                            box-shadow: 0px 0px 18px 2px #ced8e5;
                    border-radius: 85px;
                    background-position: left top;
                    background-repeat: repeat;
                    padding: 0px; 
                    width: 100px;
                    height: 130px; 

                }
                #myName{
                        position: bottom;
                        font-size: 32px;
                        font-style: italic;
                        font-family: helvetica;
                
                }

                 #myNamel{
                        font-size: 24px;
                        font-style: italic;
                         font-style: italic;
                        font-family: helvetica;
                        float: center;
                }
                #quote{
                                font-size: 22px;
                                font-style: italic;
                                float: center;
                        }

                #xl{
                  width: 72px;
                  height: 72px;
                  padding: 5px 5px;
                  line-height: 1.33;
                  border-radius: 12px;
                  font-size: 13px;
                  font-weight: bolder;
                  background-color: #80bfed;
                  font-color: rgb(255,255,255);
                }

                p{
                        font-size: 20px;
                }

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

/* These just style the content */
article {
/*  just a fancy border  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
}

h1 {
  position: absolute;
  top: 60%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}

h1 span {
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

h1 span a {
  color: #fff;
}

