
    <style type="text/css">
/*----------------- Nav Bar ---------*/
                    .topnav a {
                      float: left;
                      display: block;
                      color: #f2f2f2;
                      text-align: center;
                      padding: 14px 16px;
                      text-decoration: none;
                      font-size: 18px;
                    }

                    .topnav a:hover {
                      background-color: #ddd; 
                      color: black;


                    }


                    .topnav .icon {
                      display: none;
                    }

                    @media screen and (max-width: 100%) {
                      .topnav a:not(:first-child) {display: none;}
                      .topnav a.icon {
                        float: right;
                        display: block;
                      }
                    }

                    @media screen and (max-width: 100%) {
                      .topnav.responsive {position: relative;}
                      .topnav.responsive .icon {
                        position: absolute;
                        right: 0;
                        top: 0;
                      }
                      .topnav.responsive a {
                        float: none;
                        display: block;
                        text-align: left;
                      }

                    }
                    /*------------------ End Nav Bar -----*/
        		.item{
        		    position: relative;
        		    height:100%;
        		}
                #logo{
                    text-align: center; 
                    width: 100%;
                }

                #logoimg{   
                    width: 100%;   
                }
                #menu
                {height: 90%; 
                }

                #cont{height: 90%;
                    float: left;
                    text-align: center;
                    align-content: center;
                }
                #main{float: left;
                    height: 90%;
                     padding:0;
                }

          /* div{
                    border: 1px;
                    border-style: solid;
                }*/
                #top{
                    height: 200px;
                     font-size: 32px;
                        font-style: italic;
                        font-family: vardana;
                        float: center;
                } 
                ul{
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        width: 100%;
                        background-color: #f1f1f1;
                    }

                li a{
                   display: block;
                    color: #000;
                    padding: 8px 9px;
                    text-decoration: none;
                }

                /* Change the link color on hover */
                li a:hover {
                    background-color: #555;
                    color: blue;
                }


                #myimg{  
                /*     width: 110px;
                    height: 1px;
                    margin-top: 7px;
                   margin-left: -75px;*/
                    display: block;
                    position: relative;
                    left: 38%; 
                    z-index: -1;
                    -webkit-box-shadow: 0px 0px 18px 2px #ced8e5;
                       -moz-box-shadow: 0px 0px 18px 2px #ced8e5;
                            box-shadow: 0px 0px 18px 2px #ced8e5;
                    border-radius: 75px;
                    background-position: left top;
                    background-repeat: repeat;
                    padding: 0px; 
                    width: 250px;
                    height: 320px; 
                }

               #myimgl{  
                    width: 99px;
                    height: 1px;
                    margin-top: 8px;
                    margin-left: -75px;
                    display: block;
                    position: relative;
                
                    left: 53%; 
                    z-index: -1;
                    -webkit-box-shadow: 0px 0px 18px 2px #ced8e5;
                       -moz-box-shadow: 0px 0px 18px 2px #ced8e5;
                            box-shadow: 0px 0px 18px 2px #ced8e5;
                     border-radius: 75px;
                    background-position: left top;
                    background-repeat: repeat;
                    padding: 0px; 
                    width: 100px;
                    height: 130px; 

                }

                .rimg{  
                    width: 99px;
                    height: 1px;
                    margin-top: 8px;
                    margin-left: -75px;
                    display: block;
                    position: relative;
                
                    left: 53%; 
                    z-index: -1;
                    -webkit-box-shadow: 0px 0px 18px 2px #ced8e5;
                       -moz-box-shadow: 0px 0px 18px 2px #ced8e5;
                            box-shadow: 0px 0px 18px 2px #ced8e5;
                     border-radius: 85px;
                    background-position: left top;
                    background-repeat: repeat;
                    padding: 0px; 
                    width: 100px;
                    height: 130px; 

                }
                #myName{
                        position: bottom;
                        font-size: 32px;
                        font-style: italic;
                        font-family: vardana;
                        float: center;
                       /* margin: 5%;*/
                }

                 #myNamel{
                        font-size: 24px;
                        font-style: italic;
                        font-family: all;
                        float: center;
                        


                }
                #quote{
                                font-size: 22px;
                                font-style: italic;
                                float: center;
                        }

                #xl{
                  width: 78px;
                  height: 78px;
                  padding: 10px 10px;
                  line-height: 1.33;
                  border-radius: 12px;
                  font-size: 13px;
                  font-weight: bolder;
                  background-color: #80bfed;
                  color: rgb(255,255,255);
                }

                p{
                        font-size: 18px;
                }

    </style>
